<% include layout/header.ejs %>
<% include layout/nav.ejs %>

<main>
  <div class="container">
    <div class="page__title">
      <h1 class="page__title_item">Popular recipes</h1>
      <img class="page__title_item" src="./images/serving-dish.png" alt="">
    </div>
    <% for(var i = 0; i < recipes.length; i++) { %>
    <a href="#">
      <div class="col-4 recipe-block" id="recipe-block-<%= i %>">
        <script>
          var element = document.querySelector("#recipe-block-" + <%= i %>);
          element.style.backgroundImage = "url(<%= recipes[i].photoPath %>)";
        </script>
        <div class="recipe__title">
          <p class="recipe__title_item recipe__name">
            <%= recipes[i].title %>
          </p>
          <div class="recipe__title_item recipe__fav clearfix">
          </div>
        </div>
        <div class="recipe__descr">
          <p>
            <%= recipes[i].fullRecipe %>
          </p>
        </div>
      </div>
    </a>
    <% } %>
  </div>
</main>
<% include layout/footer.ejs %>
